<div class="col-xs-12 col-md-6">
  <img src="/dancing.gif" class="img-responsive splash-animation center-block">
  <h2 class="card text-center">We're so glad you could make it!</h2>
</div>

<div class="col-xs-12 col-md-6 form-div card">
    <%= render "new_form" %>
</div>
