<div class="row">
  <div class="col-xs-10">
    <%= challenge.activity.created_at.strftime("%b %d") %> - <%= challenge.activity.title %>
  </div>
  <div class="recent-post">
    <% if challenge.user == current_user %>
      <%= link_to "Show More!", challenge_path(challenge) %>
    <% end %>
  </div>
</div>
<hr>
