<%= link_to challenge_path(challenge), method: 'put' do %>
  <% if challenge.chosen? %>
    <div class="card challenge-card-selected">
  <% else %>
    <div class="card challenge-card-unselected">
  <% end %>
      <div class="row challenge">
        <div class="challenge-words">
          <h3><%= challenge.activity.title %></h3>
          <p><%= challenge.activity.example %></p>
        </div>
        <% if challenge.chosen? %>
        <div class="challenge-post">
          <%= link_to image_tag("/arrows.png", {:class=>"arrows"}), challenge_path(challenge) %>
        </div>
        <% else %>
        <div>
        </div>
        <% end %>
      </div>
    </div>
<% end %>
