<div class="card">
  <h1><strong>Title:</strong><%= post.title %></h1>
  <h3><strong>My Thoughts:</strong></h3>
  <p><%= truncate(post.content, length:30) %></p>

  <%= link_to 'Edit', edit_post_path(post) %>
</div>
