<h1><%= link_to post.title, post_path(post) %></h1>
<% if post.avatar.url.present? %>
  <div><%= image_tag(post.avatar.url(:profile), class: "responsive") %></div>
<% end %>
<h3><strong>My Thoughts:</strong></h3>
<p><%= truncate(post.content, length:30) %></p>

<%= link_to 'Edit', edit_post_path(post) %>
