<h3 class="text-center">Recent Unfinished Activities</h3>
<h5 class="text-center">Completed one of these? Post about it!</h5>
<hr>
<% @user.challenges.where(status: [:dormant]).order(activity_id: :desc).each do |challenge| %>
<div class="row">
  <div class="col-xs-10">
    <%= challenge.activity.created_at.strftime("%b %d") %> - <%= challenge.activity.title %>
  </div>
  <div class="recent-post">
    <%= link_to "Post!", challenge_path(challenge) %>
  </div>
</div>
<hr>
<% end %>
