<div class="col-md-8">
  <div class="card outer-card">
    <h2 class="text-center">Select Today's Challenges</h2>
    <hr>
    <%= render "choices", user: @user %>
  </div>
</div>
<div class="col-md-4">
  <div class="card outer-card">
    <%= render "recent", user: @user %>
  </div>
</div>
