<div class="text-center">
  <h3>What will you do today?</h3>
  <h3><%= link_to "Login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> to get daily activity challenges!</h3>
  <h3>Share your experiences with friends and family.</h3>
</div>
