<div>
  <div class="col-xs-12 col-md-6 vertical-align">
    <%= render "caption" %>
  </div>
  <div class="col-xs-12 col-md-6 vertical-align">
    <%= render "slideshow" %>
  </div>
</div>

<%= javascript_include_tag "splash", "data-turbolinks-track" => true %>
