<div class="row">
  <div class="col-xs-12 col-md-4 text-center">
    <div class="image-container">
      <img class="img-responsive splash-animation center-block" src="/splash-animation/sad.gif" alt="">
    </div>
     <h2>Feeling Bored?</h2>
  </div>
  <div class="col-xs-12 col-md-4 text-center">
    <div class="image-container">
      <img class="img-responsive splash-animation center-block" src="/splash-animation/tablet.gif" alt="">
    </div>
    <h2>Let Us Help You...</h2>
  </div>
  <div class="col-xs-12 col-md-4 text-center">
    <div class="image-container">
      <img class="img-responsive splash-animation center-block" src="/splash-animation/happy.gif" alt="">
    </div>
    <h2>Experience Life!</h2>
  </div>
</div>
