<div class="">
  <div id="rotating-item-wrapper">
    <img src="/carousel/concert.jpg" class="rotating-item" alt="">
    <img src="/carousel/cooking-for-a-crowd.jpg" class="rotating-item" alt="">
    <img src="/carousel/hiking.jpg" class="rotating-item" alt="">
    <img src="/carousel/reading.jpg" class="rotating-item" alt="">
  </div>
</div>
