<div class="card challenge-card-selected">
  <div class="row challenge">
    <div class="challenge-words">
      <h3><%= challenge.activity.title %></h3>
      <p><%= challenge.activity.description %></p>
      <p><%= challenge.activity.example %></p>
    </div>
  </div>
</div>
