<% @posts.each do |post| %>
  <div class="card post-card overflow-fix outer-card">
    <%= render "post", post: post %>
  </div>
<% end %>

<div class="col-md-12 col-sm-12 col-xs-12 pagination"><%= will_paginate @posts %></div>
