<div class="col-md-4">
  <div class="card">
    <%= render "user", user: @post.challenge.user %>
  </div>
</div>
<div class="col-md-8">
  <div class="card post-card">
    <%= render "post", post: @post %>
  </div>
</div>
