<div class="col-md-4">
  <%= render :partial => "shared/user", :locals => { user: @post.user } %>
</div>
<div class="col-md-8">
  <div class="card post-card overflow-fix outer-card">
    <%= render :partial => "shared/post", :locals => { post: @post, short: false, link_thru: false  } %>
  </div>
</div>
