@import 'bootstrap-sprockets';
@import 'bootstrap';

/* Variables */
$heading: "Arimo", sans-serif;
$body-text: "Lato", sans-serif;
$challenge-unselect: rgba(111, 124, 111, .5);
$challenge-select: rgba(111, 124, 111, 1);

/*Layout*/

body {
  background-color: rgb(255,127,80);
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: $body-text;
}

#logo {
  width: 30vw;
}

h1, h2, h3, h4, h5, h6 {
font-family: $heading;
}

.splash {
  border: 1px solid black;
}

.rotating-item {
	display: none;
  height: 35vh;
  object-fit: cover;
  overflow: hidden;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages {
  background-color: grey;
}

.form-div {
  background: white;
  padding: 30px;
}

.field, .actions{
  margin-bottom: 7px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 2rem;
  margin: 5rem auto;
  width: 100%;
  height: 80%;
  min-width: 300px;
}

.btn-cust{
  background-color: rgba(255,127,80,1);
  border-color: rgba(255,127,80,.8)
}

.btn-cust:active, .btn-cust:focus, .btn-cust:active:focus, .btn-cust:hover, .btn-cust:active:hover, .btn-cust:disabled:hover {
  background-color: rgba(255,127,80,.8);
  border-color: rgba(255,127,80,.6)
}

.github {
  height: 60px;
}

.image-container {
  height: 20vw;
}

.splash-animation {
  max-height: 20vw;
}

/* navigation */

#login-nav {
  text-align: end;
  padding-top: 10px;
}

.navbar-nav {
  width: 100%;
  text-align: center;
   li {
    font-size: 17px;
    float: none;
    display: inline-block;
  }
}

.navbar-bottom {
  background-color: rgba(255,127,80,1);
  position: static;
  bottom:0px;
  margin-top: 50px; /* or just use:  margin-top: 50px;*/
}
