@import 'bootstrap-sprockets';
@import 'bootstrap';

/* Variables */
$heading: "Arimo", sans-serif;
$body-text: "Lato", sans-serif;
$challenge-unselect: rgba(110, 183, 60, .75);
$challenge-select: rgba(92,170,39,1);
$post-card: rgba(153, 134, 109, .9);
$show-card: rgba(131, 177,204, .9);

/*Layout*/


body {
  background-color: white;
  //background: url("/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: $body-text;
}

#logo {
  width: 30vw;
  margin-top: 2%;
}

h1, h2, h3, h4, h5, h6 {
font-family: $heading;
}

.splash {
  border: 1px solid black;
}

.form-div {
  background: rgba(255,255,255,.85);
  border-radius: 2rem;
  padding: 30px;
}

.field, .actions{
  margin-bottom: 7px;
}

.outer-card {
  min-width: 315px;
}

.card {
  background: rgba(255,255,255,.85);
  padding: 10px;
  border-radius: 2rem;
  margin: 1rem auto;
  box-shadow: 3px 4px 10px rgba(6, 2, 2, 0.26);
}

.challenge-title {
  font-style: italic;
}

.card-img-wrapper {
  padding:0;
}

.align-column {
  padding-left:0;
}

.align-top {
  margin-top:0;
}

.pagination {
  text-align: center;
}

.previous_page.disabled, .next_page.disabled {
  visibility: hidden;
}

.overflow-fix {
  overflow: auto;
}

.card-img-top {
  margin:1%;
}

.responsive {
  width:98%;
}

.activity-card {
  margin: .5rem auto;
}

.activity-card-all {
  float: left;
}

.author {
  position: absolute;
  left: 30%;
}

.fit-parent {
  position: absolute;
  height: 100%;
  text-align: center;
}

.post-card {
  color: white;
  background-color: $post-card;
}

.challenge {
  color: #000000;
  text-decoration: none !important;
}

.challenge-card.chosen {
  color: white;
  background-color: $challenge-select;

}

.challenge-card.posted {
  color: white;
  background-color: $show-card;
}

.challenge-card.unchosen {
  color: white;
  background-color: $challenge-unselect;
}

.challenge-card a {
  color: white;
}

.glyphicon-ban-circle {
  color: red;
}

.glyphicon-plus {
  color: blue;

}

/* navigation */

#login-nav {
  text-align: end;
  padding-top: 10px;
}

.navbar-nav {
  width: 100%;
  text-align: center;
  background-color: #9FE56F;
  margin:7.5px 0;

   li {
    font-size: 17px;
    float: none;
    display: inline-block;
  }
}

.navbar-bottom {
  background-color: #9FE56F;
  position: static;
  bottom:0px;
  margin-top: 50px;
}

.nav-item {
  min-width: 15rem;
  padding: 0;
}

.link {
  color: #000000;
  text-decoration: none !important;
}

// buttons

.btn-cust{
  background-color: rgba(255,127,80,1);
  border-color: rgba(255,127,80,.8)
}

.btn-cust:active, .btn-cust:focus, .btn-cust:active:focus, .btn-cust:hover, .btn-cust:active:hover, .btn-cust:disabled:hover {
  background-color: rgba(255,127,80,.8);
  border-color: rgba(255,127,80,.6)
}

.github {
  height: 60px;
}

.image-container {
  height: 20vw;
}

.splash-animation {
  max-height: 20vw;
}

.arrows {
  width: 40px;
  height: 80%;
  padding-right: 15px;
}

.challenge-words {
  padding-left: 20px;
  padding-right: 20px;
}

.flash {
  position: fixed;
  top: 40vh;
  z-index: 100;
  padding: 7px;
  border-radius: 2rem;
  background-color: #9FE56F;
}

.recent-post {
  padding: 0 10px 0 10px;
}

.challenge-action {
  padding-right: 15px;
}

.choice-button {
  text-decoration: none;
  position: relative;
  float: right;
  bottom: 55px;
}
