@import 'bootstrap-sprockets';
@import 'bootstrap';

/* Variables */
$heading: "Arimo", sans-serif;
$body-text: "Lato", sans-serif;
$challenge-unselect: rgba(111, 124, 111, .5);
$challenge-select: rgba(111, 124, 111, 1);

/*Layout*/

body {
  background-color: rgb(255,127,80);
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: $body-text;
}

#logo {
  width: 30vw;
}

h1, h2, h3, h4, h5, h6 {
font-family: $heading;
}

.splash {
  border: 1px solid black;
}

.form-div {
  background: rgba(255,255,255,.85);
  border-radius: 2rem;
  padding: 30px;
}

.field, .actions{
  margin-bottom: 7px;
}

.card {
  background: rgba(255,255,255,.85);
  padding: 10px;
  border-radius: 2rem;
  margin: .5rem auto;
  overflow: auto;
}

.card-img-top {
  margin:1%;
}

.responsive {
  width:98%;
}

.activity-card {
  margin: .5rem auto;
}

.btn-cust{
  background-color: rgba(255,127,80,1);
  border-color: rgba(255,127,80,.8)
}

.btn-cust:active, .btn-cust:focus, .btn-cust:active:focus, .btn-cust:hover, .btn-cust:active:hover, .btn-cust:disabled:hover {
  background-color: rgba(255,127,80,.8);
  border-color: rgba(255,127,80,.6)
}

.github {
  height: 60px;
}

.image-container {
  height: 20vw;
}

.splash-animation {
  max-height: 20vw;
}

/* navigation */

#login-nav {
  text-align: end;
  padding-top: 10px;
}

.navbar-nav {
  width: 100%;
  text-align: center;
   li {
    font-size: 17px;
    float: none;
    display: inline-block;
  }
}

.navbar-bottom {
  background-color: rgba(255,127,80,1);
  position: static;
  bottom:0px;
  margin-top: 50px;
}

.challenge {
  // display: flex;
}

.challenge-card.selected {
  color: white;
  background-color: rgba(92,170,39,1);
}

.challenge-card.unselected {
  color: white;
  background-color: rgba(110, 183, 60, .75);
}

.challenge-card a {
  color: white;
}

.arrows {
  width: 50px;
  height: 100%;
  padding-right: 15px;
}

.challenge-words {
  padding-left: 20px;
  padding-right: 20px;
}

.flash {
  position: fixed;
  top: 10vh;
  z-index: 100;
  padding: 7px;
  border-radius: 2rem;
  background-color: rgba(245,120,67,.75);
}

.recent-post {
  padding: 0 10px 0 10px;
}

.not-interested {
  width: 50px;
  padding-right: 15px;
}

.choice-button {
  position: relative;
  float: right;
  bottom: 55px;
}
