@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background: url("/background.png");
  background-size: 100vw 100vh;
  font-family: 'Lato', sans-serif;
}

#logo {
  width: 30vw;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Arimo', sans-serif;
}

.splash {
  border: 1px solid black;
}

.rotating-item {
	display: none;
  height: 35vh;
  object-fit: cover;
  overflow: hidden;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages {
  background-color: grey;
}

#login-nav {
  text-align: end;
  padding-top: 10px;
}

.navbar-nav {
  width: 100%;
  text-align: center;
   li {
    font-size: 17px;
    float: none;
    display: inline-block;
  }
}
