<div class="card activity-card col-md-8 col-md-offset-2 col-xs-12">
  <div class="col-xs-12">
    <h3><%= activity.title %></h3>
    <h4><%= activity.description %></h4>
    <p><%= activity.example %></p>
  </div>
</div>
