<div class="activity-card col-md-8 col-md-offset-2 col-xs-12">
  <div class="col-xs-12">
    <h3><%= @activity.title %></h3>
    <h3><%= @activity.description %></h3>
    <h3><%= @activity.examples %></h3>
  </div>
</div>
