<div class="activity-card col-md-8 col-md-offset-2 col-xs-12">
  <div class="col-xs-12 ball">
    <h3 class="text-center"><%= @activity.title %></h3>
    <p>Description: <%= @activity.description %></p>
    <p>Example: <%= @activity.example %></p>
  </div>
</div>
